@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.main__container .faq__main {
  width: 40em;
  margin: 0 auto;
}
.main__container .faq__main h3 {
  color: #ea5455;
  padding-bottom: 3em;
}
.main__container .faq__main .faq__section {
  background-color: #e5e5e5;
  border-radius: 0.5em;
}
.main__container .faq__main article {
  padding: 1.5em 1em;
  border: 2px solid #2d4059;
  display: flex;
  justify-content: space-between;
}
.main__container .faq__main article span {
  font-weight: bold;
  color: #2d4059;
}
.main__container .faq__main .faq__article--one {
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}
.main__container .faq__main .faq__article--five {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}
.main__container .faq__main .faq__article--one h5 {
  color: #ea5455;
}
.main__container .faq__main article h5 {
  color: #2d4059;
}
.main__container .faq__main .faq__bloc {
  padding: 2em 1em;
  border: 0.3px solid #2d4059;
}
.main__container .faq__main .faq__bloc p {
  font-size: 0.8em;
}

.navbar .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e5e5e5;
  padding: 10px 20px;
  color: #000000;
}

.navbar .top .logo img {
  width: 45px;
  height: 50px;
}

.navbar .top .brand {
  display: flex;
  align-items: center;
}

.navbar .top .brand span {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 17px;
  color: #2d4059;
  margin: 20px 20px;
}

.navbar .top .menu {
  display: flex;
  flex-direction: column;
}

.navbar .top .menu p {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 17px;
  color: #000000;
  margin: 20px 0;
  text-align: right;
}

.navbar .top .list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.navbar .top .list li:not(:last-child) {
  margin-right: 20px;
}

.navbar .top .number {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #ea5455;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  font-weight: 700;
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
  color: rgb(255, 255, 255);
}

.navbar .bottom {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #2d4059;
  padding: 10px 20px;
  color: #ffffff;
  height: 100px;
}

.navbar .bottom .search {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar .bottom .category-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 17px;
  background-color: #e5e5e5;
  border: none;
  border-radius: 7px;
  padding: 10px;
  color: #2d4059;
  cursor: pointer;
}

.navbar .bottom .category-btn i {
  margin-left: 5px;
}

.navbar .bottom input {
  border-radius: 7px;
  width: 200px;
  border: none;
  padding: 10px;
}

.navbar .bottom .search-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 17px;
  background-color: #ea5455;
  color: #e5e5e5;
  border: none;
  border-radius: 7px;
  padding: 10px;
  cursor: pointer;
}

.navbar .bottom .right {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar .bottom .right li {
  margin-right: 20px;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  text-align: center;
}

.navbar .bottom .cart-items {
  background-color: #e5e5e5;
  color: #ea5455;
  border-radius: 50%;
  padding: 2px 7px;
}

/*# sourceMappingURL=style.css.map */
