.offer_title{
    display: flex;
    align-items: flex-end;
    gap: 10px;
    margin-left: 272px;
    margin-bottom: 20px;
}

.offers_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 0 auto;
    gap: 24px;

    &_icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px;
        background-color: #2D4059;
        border-radius: 25px;
        
        &_title {
            color: white;
            padding-top: 16px;
        }
    }
}

// Respnsive
@media screen and (max-width:800px) {
    .offers_container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .offer_title {
        margin-left: 10px;
    }
}
@media screen and (max-width:700px) {
    .offers_container{
        grid-template-columns: 1fr 1fr;
    }
}