.page {
    // width: 100vw;
    margin-top: 103px;
    margin-left: 9px;
    margin-right: 9px;

    display: flex;
    flex-direction: column;
}

.title {
    font-size: 30px;
    font-weight: 700;
    font-family: "Montserrat";
}